<a href="https://colab.research.google.com/github/Run-Along/data_analytics_2/blob/main/Python/Unit%202%20-%20Python%20Fundamentals/Assignments/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [ ]:
placesList = ["London", "Paris", "France", "Jamaica", "New York"]

In [ ]:
print(placesList)

['London', 'Paris', 'France', 'Jamaica', 'New York']

## 2.	Print out those variables by using a for loop

In [ ]:
for places in placesList:
  print(places)

London
Paris
France
Jamaica
New York

## 3.	Modify your for loop to add a message to your for loop.

In [ ]:
for places in placesList:
  print(places +", is a beautiful place to visit once in your life.")

London, is a beautiful place to visit once in your life.
Paris, is a beautiful place to visit once in your life.
France, is a beautiful place to visit once in your life.
Jamaica, is a beautiful place to visit once in your life.
New York, is a beautiful place to visit once in your life.

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## 5.	Sort your list in alphabetic order.

In [ ]:
placesList.sort()

In [ ]:
print(placesList)

['France', 'Jamaica', 'London', 'New York', 'Paris']

## 6.	Print out the first three elements of your list.

In [ ]:
print(placesList[0:3])

['France', 'Jamaica', 'London']

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
print(placesList[-2:])

['New York', 'Paris']